/***************POLICE********************************/

@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');
/****************GENERAL***************************************************************/

body {
  margin: 0px;
  height: 100%;
  font-family: 'Marcellus SC', serif;
  background-color: #EEEEEE;
}

li {
  list-style-type: none;
  font-size: 26px;
}

h1, h2, h3 {
  font-weight: lighter;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

h4 {
  font-weight: lighter;
}

/*******************CONTAINER**********************************************************/

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/*******************STAT AND ATTACK****************************************************/

.block_stat {
  flex-grow: 1;
  border: 2px solid blue;
  margin: 10px;
  text-align: left;
}

.block_action {
  display: flex;
  justify-content: space-around;
}

#stat_mage, #stat_guerrier {
  width: 200px;
}

.attack_mage, .attack_warriors {
  width: 75px;
  height: 75px;
  background-image: url("../images/attack.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  border: 1px solid #FFA726;
  cursor: pointer;
}

.attack_mage {
  box-shadow: 0 14px 28px rgba(66, 165, 245, 0.25), 0 10px 10px rgba(66, 165, 245, 0.22);
}

.attack_mage:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.attack_warriors {
  box-shadow: 0 14px 28px rgba(239, 83, 80, 0.25), 0 10px 10px rgba(239, 83, 80, 0.22);
}

.attack_warriors:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.ability_mage {
  width: 75px;
  height: 75px;
  background-image: url("../images/wizard-ability.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  border: 1px solid #FFA726;
  box-shadow: 0 14px 28px rgba(66, 165, 245, 0.25), 0 10px 10px rgba(66, 165, 245, 0.22);
  cursor: pointer;
}

.ability_mage:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.ability_warriors:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.ability_warriors {
  width: 75px;
  height: 75px;
  background-image: url("../images/warriors-ability.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  border: 1px solid #FFA726;
  box-shadow: 0 14px 28px rgba(239, 83, 80, 0.25), 0 10px 10px rgba(239, 83, 80, 0.22);
  cursor: pointer;
}

/**********************BLOCK GAME *****************************************************/

.block_game {
  flex-grow: 1s;
  text-align: center;
  width: 25%;
  margin: 10px;
}

.wizard_pv {
  color: blue;
}

.warriors_pv {
  color: red;
}

.charactere {
  text-align: center;
}

.img_charactere {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.img_wizard {
  height: 510px;
  width: 275px;
  background-image: url("../images/wizard.png");
  margin-left: 80px;
}

.img_warriors {
  height: 510px;
  width: 400px;
  background-image: url("../images/warriors.png");
  margin-left: 60px;
}

.block_item_choose>ul {
  display: flex;
  justify-content: center;
}

.item_game {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  margin-right: 5px;
}

/**********************************BLOCK VS *******************************************/

#vs {
  width: 250px;
}

.block_vs {
  flex-grow: 0.2;
  margin: 20px;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 30px;
  background-color: #64b5f6;
  border: 1px solid #64b5f6;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #E65100;
  border: 1px solid #E65100;
}

/*********************BLOCK STAT*******************************************************/

.block_stat_action {
  text-align: justify;
}

.block_stat_action>ul>li {
  margin-top: 10px;
}

/********************BLOCK INVENTARY***************************************************/

.block_inventary>ul {
  display: flex;
  justify-content: center;
}

.set_inventary {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid black;
  margin-right: 5px;
  cursor: pointer;
}

.set_inventary:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 1px solid #FFA726;
}

.inventary_warriors {
  box-shadow: 0 14px 28px rgba(239, 83, 80, 0.25), 0 10px 10px rgba(239, 83, 80, 0.22);
}

.inventary_mage {
  box-shadow: 0 14px 28px rgba(66, 165, 245, 0.25), 0 10px 10px rgba(66, 165, 245, 0.22);
}

.sword {
  background-image: url("../images/sword.png");
}

.scepter {
  background-image: url("../images/scepter.png");
}

.red-potion {
  background-image: url("../images/red-potion.png");
}

.shield {
  background-image: url("../images/shield.png");
}

.blue-potion {
  background-image: url("../images/blue-potion.png");
}

.boots {
  background-image: url("../images/boots.png");
}

/*MEDIA QUERRIES********************************************************************/

@media screen and (max-width: 1360px) {
  .grid {
    flex-direction: column;
  }
}

@media screen and (max-width: 960px) {
  .block_inventary>ul {
    flex-flow: column wrap;
  }
  .img_charactere {
    margin-left: 0px;
    margin-right: 100px;
    height: 300px;
    width: 150px;
  }
