/***************POLICE********************************/
@import url('https://fonts.googleapis.com/css?family=VT323');
/***************BODY-GENERALE********************/
 html,body{
   margin: 0px;
   padding: 0px;
   height: 100%;
   font-family: 'VT323', monospace;
}

li{
  list-style-type: none;
}

/*******************CONTAINER************************/

.grid{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

/*******************STAT************************/

.block_stat{
  flex-grow: 1;
  border: 2px solid blue;
  margin: 10px;
  text-align: left;
}



/**********************BLOCK GAME ******************************/
.block_game{
  flex-grow: 1s;
  text-align: center;
  border: 2px solid blue;
  width: 25%;
  margin: 10px;
}

.charactere{
  text-align:center;
}


.img_wizard{
  height:510px;
  width:275px;;
}

.img_warriors{
  height:535px;
  width:400px;px;
}

.block_item_choose>ul{
  display:flex;
  justify-content:center;
}

.item_game {
  width:100px;
  height:100px;
  border: 2px solid blue;
  margin-right:5px;
}

/**********************************BLOCK VS *****************************************/


.block_vs {
  flex-grow: 1;
  border: 2px solid blue;
  margin:20px;
}

/*********************BLOCK STAT*******************************************************/

.block_stat {
  text-align: justify;
  font-size: 50px;
}




/********************BLOCK INVENTARY********************************/

.block_inventary>ul  {
  display:flex;
  justify-content:center;
}

.set_inventary{
  width:100px;
  height:100px;
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid blue;
  margin-right:5px;
}

.sword {
  background-image: url("../images/sword.png");
}

.scepter {
  background-image: url("../images/scepter.png");
}

.red-potion {
  background-image: url("../images/red-potion.png");
}

.shield {
  background-image: url("../images/shield.png");
}

.blue-potion {
  background-image: url("../images/blue-potion.png");
}

.boots {
  background-image: url("../images/boots.png");
}
