/***************POLICE********************************/
@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');
/****************GENERAL***********************************/
 html,body{
   margin: 0px;
   padding: 0px;
   height: 100%;
  font-family: 'Marcellus SC', serif;}

li{
  list-style-type: none;
  font-size:26px;
}

 h1, h2{
   font-weight: lighter;
 }
/*******************CONTAINER************************/

.grid{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

/*******************STAT AND ATTCK************************/

.block_stat{
  flex-grow: 1;
  border: 2px solid blue;
  margin: 10px;
  text-align: left;
}

.block_action{
  display:flex;
  justify-content: space-around;
}

.attack{
  width:75px;
  height:75px;
  background-image: url("../images/attack.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  border: 2px solid green;
}

.wizard_ability{
  width:75px;
  height:75px;
  background-image: url("../images/wizard-ability.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  border: 2px solid green;
}


.warriors_ability{
  width:75px;
  height:75px;
  background-image: url("../images/warriors-ability.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 5px;
  border: 2px solid green;
}





/**********************BLOCK GAME ******************************/
.block_game{
  flex-grow: 1s;
  text-align: center;
  border: 2px solid blue;
  width: 25%;
  margin: 10px;
}

.charactere{
  text-align:center;
}

.img_charactere{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}

.img_wizard{
  height:510px;
  width:275px;
  background-image: url("../images/wizard.png");
  margin-left: 80px;
}

.img_warriors{
  height:510px;
  width:400px;
  background-image: url("../images/warriors.png");
  margin-left: 60px;
}

.block_item_choose>ul{
  display:flex;
  justify-content:center;
}

.item_game {
  width:100px;
  height:100px;
  border: 2px solid blue;
  margin-right:5px;
}

/**********************************BLOCK VS *****************************************/


.block_vs {
  flex-grow: 0.2;
  border: 2px solid blue;
  margin:20px;
  text-align: center;
}

button {
  margin-top:60px;
  padding:30px;
  background-color: grey;
}

/*********************BLOCK STAT*******************************************************/

.block_stat_action {
  text-align: justify;
  border: 2px solid blue;
}


/********************BLOCK INVENTARY********************************/

.block_inventary>ul  {
  display:flex;
  justify-content:center;
}

.set_inventary{
  width:100px;
  height:100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid blue;
  margin-right:5px;
}

.sword {
  background-image: url("../images/sword.png");
}

.scepter {
  background-image: url("../images/scepter.png");
}

.red-potion {
  background-image: url("../images/red-potion.png");
}

.shield {
  background-image: url("../images/shield.png");
}

.blue-potion {
  background-image: url("../images/blue-potion.png");
}

.boots {
  background-image: url("../images/boots.png");
}
